@import "tailwindcss";
@source ".";

@font-face {
    font-family: "Arkhip";
    src: url("/fonts/Arkhip_font.woff2") format("woff2"), url("/fonts/Arkhip_font.ttf") format("truetype");
    font-display: swap;
}

:root {
    --nw-primary-color: #0a0f1b;
    --nw-secondary-color: #0e1523;
    --nw-separate-color: #161f34;
    --nw-layout-width: 1600px;
    --nw-sidebar-drawer-offset: 100%;
}

[dir='rtl'] {
    --nw-sidebar-drawer-offset: -100%;
}

@theme {
    --animate-nw-fade-in: fd-fade-in 300ms ease;
    --animate-nw-fade-out: fd-fade-out 300ms ease;
    --animate-nw-sidebar-in: fd-sidebar-in 250ms ease;
    --animate-nw-sidebar-out: fd-sidebar-out 250ms ease;
    --color-nw-background: var(--nw-primary-color);
    --color-nw-card: var(--nw-secondary-color);
    --color-nw-border: var(--nw-separate-color);
    --color-nw-foreground: #ebebeb;
    --color-nw-muted: hsl(220, 50%, 10%);
    --color-nw-muted-foreground: hsl(220, 0%, 65%);
    --color-nw-accent: hsl(220, 40%, 20%);
    --color-nw-accent-foreground: hsl(220, 80%, 90%);
    --color-nw-primary: hsl(213 97% 54%);
    --color-nw-ring: hsl(340, 100%, 90%);
}

@keyframes fd-sidebar-in {
    from {
        transform: translateX(var(--nw-sidebar-drawer-offset));
    }
}

@keyframes fd-sidebar-out {
    to {
        transform: translateX(var(--nw-sidebar-drawer-offset));
    }
}

@keyframes fd-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fd-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

html {
    scrollbar-gutter: stable;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        /*        border-color: var(--color-nw-border, currentColor);*/
    }

    body {
        background-color: var(--color-nw-background);
        color: var(--color-nw-foreground);
    }
}


@utility prose-no-margin {
    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

/* define/override layout variables */
@variant layout {
    #armarium-docs-layout:has(&) {
        @slot;
    }
}
