@import "tailwindcss";
@source ".";

[dir='rtl'] {
    --nw-sidebar-drawer-offset: -100%;
}

@theme {
    --color-l-background: #0f172a;
    --color-l-card: #1e293b;
    --color-l-card-light: #334155;
    --color-l-card-soft: rgba(30, 41, 59, 0.7);
    --color-l-border: #475569;
    --color-l-border-light: #64748b;
    --color-l-foreground: #f1f5f9;
    --color-l-foreground-secondary: #cbd5e1;
    --color-l-foreground-muted: #94a3b8;
    --color-l-primary: #3b82f6;
    --color-l-primary-dark: #2563eb;
    --color-l-primary-light: #60a5fa;
    --color-l-secondary: #8b5cf6;
    --color-l-accent: #ec4899;
    --color-l-success: #10b981;
    --color-l-warning: #f59e0b;
    --color-l-danger: #ef4444;
    --color-l-control-bg: rgba(30, 41, 59, 0.7);
    --color-l-control-hover: rgba(59, 130, 246, 0.1);
    --shadow-l-default: 0 5px 20px rgba(0, 0, 0, 0.4);
    --shadow-l-hover: 0 8px 25px rgba(0, 0, 0, 0.5);
}

@keyframes fd-sidebar-in {
    from {
        transform: translateX(var(--nw-sidebar-drawer-offset));
    }
}

@keyframes fd-sidebar-out {
    to {
        transform: translateX(var(--nw-sidebar-drawer-offset));
    }
}

@keyframes fd-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fd-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

html {
    scrollbar-gutter: stable;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        /*        border-color: var(--color-l-border, currentColor);*/
    }

    body {
        background-color: var(--color-l-background);
        color: var(--color-l-foreground);
    }
}


@utility prose-no-margin {
    & > :first-child {
        margin-top: 0;
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

/* define/override layout variables */
@variant layout {
    #armarium-docs-layout:has(&) {
        @slot;
    }
}
